
  html, body {
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'Noto Serif', serif;
    height: 100%;
    text-align: center;
    color: black;
    background-color: #ffffff;
    overflow-y:visible;
    overflow-x: hidden;
  }

@media screen and (max-width: 979px) {
  .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }


  .opening {
    background-color: #dff9fb;
    border-radius: 6px;
    margin-top: 2%;
    padding-bottom: 1%;
    margin-bottom: 2%;
  }

.cs-title{
  font-family: 'Righteous', cursive;
  text-align: left;
  padding: 1% 4% 1% 8%;
  font-size: 1.3rem;
  margin-bottom: 2%;
}

.question {
  font-size: 1rem;
  font-weight: bold;
  margin: 7% 0%;
  padding: 1% 4% 1% 8%;
  line-height: 1.5rem;
}

.embed-responsive{
  padding: 1% 10%;
}

.list {
  padding: 1% 4% 1% 8%;
  text-align: justify;
  font-size: 1rem;
  line-height: 2rem;
}

.row {
  margin: 0 auto;
  margin-bottom: 10%;
  height: 100vh;
}

.sec {
  margin: 0 auto;
  margin-bottom: 5%;
}

.main-title {
  font-family: 'Righteous', cursive;
  text-align: left;
  margin-top: 15%;
  font-size: 3.2rem;
  padding: 1% 4% 1% 8%;
  margin-bottom: 3%;
}

.bullets {
  padding: 1% 4% 1% 8%;
  font-size: 0.8rem;
  word-spacing: -1px;
  line-height: 1.5rem;


}
.grey {
  background-color: #000;
  color: #fff;
  border-radius: 6px;


}
.port-explain {
 padding: 1% 4% 1% 8%;
 font-size: 0.9rem;
 line-height: 2rem;
}
.port-text {
  display: block;
  font-size: 1rem;
  padding: 1% 4% 1% 8%;
  font-size: 1rem;
  line-height: 2rem;
  word-spacing: -1px;
}
.openbtn {
  font-size: 20px;
  transform: scale(0.55);
  z-index: 4;
  cursor: pointer;
  background-color: #000;
  color: white;
  padding: 10px 15px;
  border: none;
  left: 0% !important;
  top: 1%;
  position: fixed;
  border-radius: 8px;
}

.redirect {
  font-size: 0.8rem;
  margin: 0 auto;
  margin-bottom: 15%;
  cursor: pointer;
  font-weight: bolder;

}
.up-picture {
  display: none;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-top: 6%;
  width: 55%;
}
.buru {
  display: none;
}

}
/*---------------------------------------------------
---------------------------------------------------
---------------------------------------------------
---------------------------------------------------*/
@media screen and (min-width: 980px) {
  .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }


  .opening {
    background-color: #dff9fb;
    border-radius: 6px;
    margin-top: 2%;
    padding-bottom: 1%;
    margin-bottom: 2%;
  }

.cs-title{
  font-family: 'Righteous', cursive;
  text-align: left;
  padding: 1% 15%;
  font-size: 2.3rem;
  margin-bottom: 2%;
}

.question {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 7% 0%;
  padding: 1% 15%;
  line-height: 1.5rem;
}

.embed-responsive{
  padding: 1% 17%;
}

.list {
  padding: 1% 15%;
  text-align: justify;
  font-size: 1.5rem;
  line-height: 2.5rem;


}

.row {
  margin: 0 auto;
  margin-bottom: 10%;
  height: 100vh;
}

.sec {
  margin: 0 auto;
  margin-bottom: 5%;
}

.main-title {
  font-family: 'Righteous', cursive;
  text-align: left;
  margin-top: 15%;
  font-size: 4rem;
  padding: 1% 8% 1% 18%;
  margin-bottom: 3%;
}

.bullets {
  padding: 1% 8% 1% 18.5%;
  font-size: 0.8rem;
  word-spacing: -1px;
  line-height: 1.5rem;


}
.grey {
  background-color: #000;
  color: #fff;
  display: flex;
  padding-top: 2%;
  padding-bottom: 3%;


}
.port-explain {
 padding: 1% 15%;
 font-size: 1.2rem;
 line-height: 2rem;
}
.port-text {
  display: block;
  font-size: 1.5rem;
  padding: 1% 15%;
  line-height: 2.5rem;
  word-spacing: -1px;
}
.openbtn {
  font-size: 20px;
  transform: scale(0.9);
  z-index: 4;
  cursor: pointer;
  background-color: #000;
  color: white;
  padding: 10px 15px;
  border: none;
  left: 6% !important;
  top: 2%;
  position: fixed;
  border-radius: 8px;
}

.redirect {
  font-size: 1.3rem;
  margin: 0 auto;
  margin-bottom: 10%;
  cursor: pointer;
  font-weight: bolder;
}
.up-picture {
  display: flex;
  width: 30%;
  height: 30%;
  margin: 0 auto;
  border-radius: 7px;
  align-self: center;
}

.up-text {
  margin: 0 auto;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 4%;
    width: 25%;
}

.bar {
  width: 20% !important;
}

.btn-dark {
  background-color: #000 !important;
}
}



/* The sidebar menu */
.sidebar {
  height: 100vh; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #535c68; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}



/* The sidebar links */
.sidebar a {
  padding: 25px 45px 8px 32px;
  text-decoration: none;
  font-size: 0.9rem;
  color: #fff;
  display: block;
  transition: 0.3s;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
}

.sidebar .contactdet {
padding-top: 152px;
    font-size: 0.9rem;
    font-weight: bolder;
}

.sidebar .contactex {
  font-size: 0.7rem;
  padding-top: 0px;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #000;
  color: white;
  padding: 10px 15px;
  border: none;
  left: 6%;
  top: 2%;
  position: fixed;
  border-radius: 8px;
}

.openbtn:hover {
  background-color: #535c68;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#page1 {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}
/*Tool tip Css*/
