html, body {
  margin: 0 auto;
  padding: 0 auto;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  text-align: center;
  color: black;
  background-color: #fbfbfb;
  overflow-y: hidden;
  overflow-x: hidden;

}


.one {
  background-color: #686de0;
  height: 33.33vh;
  border: 3px solid #fff;
  border-radius: 10px;
}

.two {
  background-color: #ff7979;
  height: 33.33vh;
  border: 3px solid #fff;
  border-radius: 10px;

}

.three {
  background-color: #f9ca24;
  height: 33.33vh;
  border: 3px solid #fff;
  border-radius: 10px;

}


/* burger menu*/
/* The sidebar menu */
.sidebar {
  height: 100vh; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #e056fd; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 25px 45px 8px 32px;
  text-decoration: none;
  font-size: 0.9rem;
  color: #fff;
  display: block;
  transition: 0.3s;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #e056fd;
  color: white;
  padding: 10px 15px;
  border: none;
  left: 2%;
  z-index: 1;
  position: fixed;
  border-radius: 50px;
  margin-top: 1%;
}

.openbtn:hover {
  background-color: #e056fd;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#page1 {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 0px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

@media screen and (max-width: 768px) {
  .openbtn {
    margin-top: 3%;
   left: 3.4%;
   transform: scale(0.7);
  }

  body {
    overflow-y: auto;
    background-color: #fbfbfb;
  }

  .container-fluid {
  height: 100vh;
  }

  .one {
  height: 90vh;
  background-color: #fff;
  margin-bottom: 2.5vh;
  border-radius: 50px;
  margin-top: 5vh;
  }

  .two {
  height: 90vh;
  margin-bottom: 2.5vh;
  margin-top: 2.5vh;
  border-radius: 50px;
  background-color: #efefef;
  }

  .three {
  height:90vh;
  margin-bottom: 2.5vh;
  margin-top: 2.5vh;
  border-radius: 50px;

  }
}


/* Content mobiel */

.title {
  font-family: 'Righteous', cursive;
  font-size: 1.4rem;
}
.gerry {
  vertical-align: middle;
  position: relative;
  top: 40%;
    margin-bottom: 4%;
    border-style: none;
    width: 80%;
    border-radius: 20px;
    -webkit-box-shadow: 0px 10px 12px 0px rgba(153,148,153,1);
    -moz-box-shadow: 0px 10px 12px 0px rgba(153,148,153,1);
    box-shadow: 0px 10px 10px 0px rgb(206, 206, 206)}

.caption {
  margin-top: 0;
margin-bottom: 1rem;
width: 100%;
padding: 0px 34px;
}

.title-1 {
  font-family: 'Righteous', cursive;
  font-size: 1.4rem;
  top: 20%;
  position: relative;
}

.position {
  font-size: 1rem;
  position: relative;
  top: 30%;
  border-radius: 7px;
  background-color: #ffffff;
  margin: 0 auto;
  width: 60%;
  height: 5%;
}
