/*font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif;*/

html, body {
  margin: 0 auto;
  padding: 0 auto;
  font-family: 'Raleway', sans-serif;
  height: 100%;
  text-align: center;
  color: black;
  background-color: #fbfbfb;

}
.row {
  height: 100vh;
}

#text-wrapper {
  background-image:url('introvid_1.gif');
  background-position: center;
  background-size: auto;
  height: 50%;
}
