html, body {
  margin: 0 auto;
  padding: 0 auto;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  text-align: center;
  color: black;
  background-color: #fbfbfb;
  overflow-y: hidden;
  overflow-x: hidden;

}


.one {
  background-color: #686de0;
  height: 33.33vh;
  border: 3px solid #fff;
  border-radius: 10px;
}

.two {
  background-color: #ff7979;
  height: 33.33vh;
  border: 3px solid #fff;
  border-radius: 10px;

}

.three {
  background-color: #f9ca24;
  height: 33.33vh;
  border: 3px solid #fff;
  border-radius: 10px;

}


/* burger menu*/
/* The sidebar menu */
.sidebar {
  height: 100vh; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #e056fd; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 25px 45px 8px 32px;
  text-decoration: none;
  font-size: 0.9rem;
  color: #fff;
  display: block;
  transition: 0.3s;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #e056fd;
  color: white;
  padding: 10px 15px;
  border: none;
  left: 2%;
  z-index: 1;
  position: fixed;
  border-radius: 50px;
  margin-top: 1%;
}

.openbtn:hover {
  background-color: #e056fd;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#page1 {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 0px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

@media screen and (max-width: 768px) {
  .openbtn {
    margin-top: 3%;
   left: 3.4%;
   transform: scale(0.7);
  }

  body {
    overflow-y: auto;
    background-color: #fbfbfb;
  }

  .container-fluid {
  height: 100vh;
  }

  .one {
  height: 90vh;
  background-color: #fff;
  margin-bottom: 2.5vh;
  border-radius: 50px;
  margin-top: 5vh;
  }

  .one-1 {
    height: 90vh;
    margin-bottom: 2.5vh;
    margin-top: 2.5vh;
    border-radius: 50px;
    background-color: #efefef;
  }

  .two {
  height: 90vh;
  margin-bottom: 2.5vh;
  margin-top: 2.5vh;
  border-radius: 50px;
  background-color: #efefef;
  }

  .two-1 {
  height: 90vh;
  background-color: #fff;
  margin-bottom: 2.5vh;
  border-radius: 50px;
  margin-top: 5vh;
  }

  .three {
  height:90vh;
  background-color: #fff;
  margin-bottom: 2.5vh;
  margin-top: 2.5vh;
  border-radius: 50px;

  }
}


/* Content mobiel */

.title {
  font-family: 'Righteous', cursive;
  font-size: 1.2rem;
  position: relative;
}
.gerry {
  vertical-align: middle;
  position: relative;
  margin-top: 10%;
    margin-bottom: 4%;
    border-style: none;
    width: 65%;
    border-radius: 20px;
    -webkit-box-shadow: 0px 10px 12px 0px rgba(153,148,153,1);
    -moz-box-shadow: 0px 10px 12px 0px rgba(153,148,153,1);
    box-shadow: 0px 10px 10px 0px rgb(206, 206, 206)}

.caption {
  margin-top: 0;
  font-size: 0.7rem;
margin-bottom: 1rem;
width: 100%;
padding: 0px 55px;
}

.title-1 {
  font-family: 'Righteous', cursive;
  font-size: 1.2rem;
  top: 15%;
  position: relative;
}

.position {
  font-size: 1rem;
  position: relative;
  top: 20%;
  border-radius: 7px;
  margin: 0 auto;
  width: 60%;
  height: 9%;
  padding: 2%;
}

.title-2 {
  font-family: 'Righteous', cursive;
  font-size: 1rem;
  top: 26%;
  position: relative;
}

.triangle {
  vertical-align: middle;
  margin-top: 20vh;
  position: inherit;
  width: 70%;
}

.title-3 {
  font-family: 'Righteous', cursive;
  font-size: 1.2rem;
  top: 15%;
  position: relative;
}

.caption-1 {
  position: relative;
  top: 18%;
  margin-top: 0;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  width: 100%;
  padding: 0px 34px;
}

.dates {
  position: relative;
  top: 11vh;
  margin-top: 0;
  font-size: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  padding: 0px 34px;
}

.brands-list {
  position: relative;
  text-align: left;
  margin-top: 0;
  margin-bottom: 1rem;
  top: 20%;
  left: 15vh;
}

.caption-2 {
  position: relative;
  top: 20vh;
  margin-top: 0;
  font-size: 0.6rem;
  margin-bottom: 1rem;
  width: 100%;
  padding: 0px 75px;
}

.progress {
  display: -ms-flexbox;
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: .75rem;
  background-color: #b3d7ff00;
  border-radius: .25rem;
  margin: 0 auto;
  margin-bottom: 20px;
}
.progress-bar {
  background-color: #e9e9e9 !important;
}
.bars {
  position: relative;
  top: 20vh;
  width: 70%;
  margin: 0 auto;
  background-color: transparent;
}

.caption-3 {
  font-size: 0.8rem;
  text-align: left;
  position: relative;
  margin-bottom: 2%;
}

.thumbnail {
  vertical-align: middle;
  margin-top: 17vh;
  position: inherit;
  width: 40%;
  border-radius: 10px;
}

.thumb-text {
  color: black;
    text-decoration: none;
    background-color: transparent;
    position: relative;
    display: block;
    margin-top: 1vh;
    font-size: 0.7rem;
}

.thumbnail-1 {
  vertical-align: middle;
  margin-top: 0vh;
  position: inherit;
  width: 40%;
  border-radius: 10px;
}

.caption-5 {
  padding: 0px 50px;
  font-size: 0.8rem;
  position: relative;
  top: 15vh;
}

.btn {
  position: relative;
top: 20vh;
margin: 0 auto;
left: 9vh;
font-size: 0.7rem;
font-weight: bolder;
}

.icon {
  width: 6%;
  position: relative;
  margin: 0px 2%;
  top: 32vh;
  right: 7vh;
}
