html, body {
  margin: 0 auto;
  padding: 0 auto;
  font-family: 'Open Sans', serif;
  height: 100%;
  text-align: center;
  color: black;
  overflow-y:visible;
  overflow-x: hidden;
}

body {
  background-color: #000!important;
  animation: fondo 2s ease forwards;
}
@keyframes fondo {
  to {
    background-color: #fff;
  }
}


/* -----------------------------------------
-----------------------------------------------------------
----------------------------------------------------------
--------------------------------------------------------------
DESKTOP/*/
@media screen and (min-width: 768px) {

  .white {
  height: 100%;
  margin: 0 auto;
  margin-top: 4%;
  }
  .welcome {
  margin: 0 auto;
  max-width: 100%;
  }
  .creative-intern {
  margin: 0 auto;
  padding: 0% 5%;
  font-size: 0.9rem;
  text-align: justify !important;
  }
  .fila {
    margin: 0 auto;
    margin-top: 4%;
    margin-bottom: 10%;
    height: 100%;
    font-size: 5rem;
    color: white;
  }
  .ilus {
  border: 40px solid;
  border-image-source: url(illustrations/border.svg);
  background-position: center;
  background-image: url(illustrations/donut.png);
  border-image-slice: 40;
  height: 400px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 89%;
  background-position: center;
  transition: all 1.2s;
  cursor:pointer;
  }
  .ilus:hover {
  background-image:url('illustrations/t-bites.png');
  border-image-slice: 35;
  transform: scale(0.99);
  }
  .ilus2 {
  border: 40px solid;
  background-image: url('illustrations/computer.png');
  border-image-source: url(illustrations/border2.svg);
  border-image-slice: 40;
  height: 400px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 89%;
  background-position: center;
  transition: all 1.2s;
  cursor:pointer;

  }
  .ilus2:hover {
  background-image:url('illustrations/t-ica.png');
  border-image-slice: 35;
  transform: scale(0.99);
  }
  .ilus3 {
  border: 40px solid;
  background-image: url('illustrations/headset.png');
  border-image-source: url(illustrations/border3.svg);
  border-image-slice: 40;
  height: 400px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 89%;
  background-position: center;
  transition: all 1.2s;
  cursor:pointer;

  }
  .ilus3:hover {
  background-image:url('illustrations/t-nintendo.png');
  border-image-slice: 35;
  transform: scale(0.99);
  }
  .ilus4 {
  border: 40px solid;
  background-image: url('illustrations/smartwatch.png');
  border-image-source: url(illustrations/border4.svg);
  border-image-slice: 40;
  height: 400px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 89%;
  background-position: center;
  transition: all 1.2s;
  cursor:pointer;

  }
  .ilus4:hover {
  background-image:url('illustrations/t-coutts.png');
  border-image-slice: 35;
  transform: scale(0.99);
  }
  .ilus5 {
  border: 40px solid;
  background-image: url('illustrations/billboard.png');
  border-image-source: url(illustrations/border5.svg);
  border-image-slice: 40;
  height: 400px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 89%;
  background-position: center;
  transition: all 1.2s;
  cursor:pointer;

  }
  .ilus5:hover {
  background-image:url('illustrations/t-chamba.png');
  border-image-slice: 35;
  transform: scale(0.99);

  }
  .ilus6 {
  border: 40px solid;
  background-image: url('illustrations/beertag.png');
  border-image-source: url(illustrations/border6.svg);
  border-image-slice: 40;
  height: 400px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 89%;
  background-position: center;
  transition: all 1.2s;
  cursor:pointer;

  }
  .ilus6:hover {
  background-image:url('illustrations/t-bars.png');
  border-image-slice: 35;
  transform: scale(0.99);
  }

  .last-part{
  margin: 0 auto;
  margin-bottom: 100px;
  text-align: center;
  }
  .footer {
  text-align: center;
  }
  .icon {
  width: 2.4%;
  position: relative;
  margin: 2% 1.8%;
  border-radius: 4px;
  }

  .hire-me {
  position: relative;
  margin: 0 auto;
  text-transform: uppercase;
  width: 240px;
  font-weight: bold;
  margin-bottom: 3%;
  }
  footer{
  margin: 4% 0% -5% 0%;
  }
  .made {
  position: relative;
  bottom: 2%;
  }
 #cta {
   fill: transparent;
   border: 21px solid;
   display: block;
   margin-top: 5%;
   border-image-source: url(illustrations/buttoni.svg);
  border-image-slice: 30;
  font-size: 1rem;
  font-family: 'Mansalva', cursive;
  stroke: #000;
  stroke-width: 4;
  transition: all 1s;
  background: #ff7979;
  background-clip: padding-box;
  }

  #cta:hover {
  border-image-slice: 20;
  transform:scale(1.1);
  }

}


/* -----------------------------------------
-----------------------------------------------------------
------------------MEDIUM----------------------------------------
--------------------------------------*/
@media screen and (min-width: 471px) and (max-width: 767px)  {
  .openbtn {
    font-size: 20px;
    transform: scale(0.55);
    z-index: 40 !important;
    cursor: pointer;
    background-color: #535c68;
    color: white;
    padding: 10px 15px !important;
    border: none;
    left: 0% !important;
    top: 0% !important;
    position: fixed;
    border-radius: 8px;

  }
  .white {
  height: 100%;
  margin: 0 auto;
  margin-top: 4%;
  }

  .welcome {
  margin: 0 auto;
  width: 70%;
  }
  .creative-intern {
  margin: 0 auto;
  padding: 0% 5%;
  font-size: 0.9rem;
  text-align: justify !important;
  }
  .fila {
    margin: 0 auto;
    margin-top: 6%;
    height: 100%;
    font-size: 5rem;
    color: white;
  }
  .ilus {
  border: 30px solid;
  border-image-source: url(illustrations/border.svg);
  background-position: center;
  background-image: url(illustrations/donut.png);
  border-image-slice: 30;
  height: 400px;
  width: 350px;
  margin-top: 15px;
  background-repeat: no-repeat;
  background-size: 58%;
  background-position: center;
  transition: all 1.2s;
  }
  .ilus:hover {
  background-image:url('illustrations/t-bites.png');
  border-image-slice: 35;
  transform: scale(0.99);
  }
  .ilus2 {
  border: 30px solid;
  margin-top: 10px;
  margin-top: 15px;
  background-image: url('illustrations/computer.png');
  border-image-source: url(illustrations/border2.svg);
  border-image-slice: 40;
  height: 400px;
  width: 350px;
  background-repeat: no-repeat;
  background-size: 58%;
  background-position: center;
  transition: all 1.2s;
  }
  .ilus2:hover {
  background-image:url('illustrations/t-ica.png');
  border-image-slice: 35;
  transform: scale(0.99);
  }
  .ilus3 {
  border: 30px solid;
  margin-top: 15px;
  background-image: url('illustrations/headset.png');
  border-image-source: url(illustrations/border3.svg);
  border-image-slice: 40;
  height: 400px;
  width: 350px;
  background-repeat: no-repeat;
  background-size:58%;
  background-position: center;
  transition: all 1.2s;
  }
  .ilus3:hover {
  background-image:url('illustrations/t-nintendo.png');
  border-image-slice: 35;
  transform: scale(0.99);
  }
  .ilus4 {
  border: 30px solid;
  margin-top: 15px;
  background-image: url('illustrations/smartwatch.png');
  border-image-source: url(illustrations/border4.svg);
  border-image-slice: 40;
  height: 400px;
  width: 350px;
  background-repeat: no-repeat;
  background-size: 58%;
  background-position: center;
  transition: all 1.2s;
  }
  .ilus4:hover {
  background-image:url('illustrations/t-coutts.png');
  border-image-slice: 35;
  transform: scale(0.99);
  }
  .ilus5 {
  border: 30px solid;
  margin-top: 15px;
  background-image: url('illustrations/billboard.png');
  border-image-source: url(illustrations/border5.svg);
  border-image-slice: 40;
  height: 400px;
  width: 350px;
  background-repeat: no-repeat;
  background-size: 58%;
  background-position: center;
  transition: all 1.2s;
  }
  .ilus5:hover {
  background-image:url('illustrations/t-chamba.png');
  border-image-slice: 35;
  transform: scale(0.99);

  }
  .ilus6 {
  border: 30px solid;
  margin-top: 15px;
  background-image: url('illustrations/beertag.png');
  border-image-source: url(illustrations/border6.svg);
  border-image-slice: 40;
  height: 400px;
  width: 350px;
  background-repeat: no-repeat;
  background-size: 58%;
  background-position: center;
  transition: all 1.2s;
  }
  .ilus6:hover {
  background-image:url('illustrations/t-bars.png');
  border-image-slice: 35;
  transform: scale(0.99);
  }

  .last-part{
  margin: 0 auto;
  height: 100vh;
  text-align: center;
  }
  .footer {
  text-align: center;
  margin-top: 15%;
  margin-bottom: 15px;
  }
  .question {
  margin: 0 auto;
  margin-top: 30%;
  width: 90%;
  }
  .icon {
  width: 8.4%;
  margin: 2% 2.8% 10% 2.8%;
  border-radius: 4px;
  }

  .hire-me {
  position: relative;
  margin: 0 auto;
  text-transform: uppercase;
  width: 240px;
  font-weight: bold;
  margin-bottom: 3%;
  }
  footer{
  margin: 30% 0% -5% 0%;
  }
  .made {
  margin-top: 10%;
  font-size: 0.8rem;
  font-weight: bolder;
  }
  #cta {
    fill: transparent;
    border: 21px solid;
    border-image-source: url(illustrations/buttoni.svg);
    border-image-slice: 20;
    font-size: 0.7rem;
    margin-top: 35%;
    font-family: 'Mansalva', cursive;
    stroke: #000;
    stroke-width: 4;
    transition: all 1s;
    background: #ff7979;
    background-clip: padding-box;
    transform: scale(0.8);
  }

  #cta:hover {
 border-image-slice: 14;
 transform:scale(1.1);
  }
}
/* -----------------------------------------
-----------------------------------------------------------
------------------mobile----------------------------------------
--------------------------------------*/
@media screen and (max-width: 470px) {
  .openbtn {
    font-size: 20px;
    transform: scale(0.55);
    z-index: 40 !important;
    cursor: pointer;
    background-color: #535c68;
    color: white;
    padding: 10px 15px !important;
    border: none;
    left: 0% !important;
    top: 0% !important;
    position: fixed;
    border-radius: 8px;

  }
  .white {
  height: 100%;
  margin: 0 auto;
  margin-top: 4%;
  }

  .welcome {
  margin: 0 auto;
  width: 90%;
  }
  .creative-intern {
  margin: 0 auto;
  padding: 0% 5%;
  font-size: 0.9rem;
  text-align: justify !important;
  }
  .fila {
    margin: 0 auto;
    margin-top: 4%;
    height: 100%;
    font-size: 5rem;
    color: white;
  }
  .ilus {
  border: 30px solid;
  border-image-source: url(illustrations/border.svg);
  background-position: center;
  background-image: url(illustrations/donut.png);
  border-image-slice: 30;
  height: 300px;
  width: 300px;
  margin-top: 15px;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  transition: all 1.2s;
  }
  .ilus:hover {
  background-image:url('illustrations/t-bites.png');
  border-image-slice: 35;
  transform: scale(0.99);
  }
  .ilus2 {
  border: 30px solid;
  margin-top: 10px;
  margin-top: 15px;
  background-image: url('illustrations/computer.png');
  border-image-source: url(illustrations/border2.svg);
  border-image-slice: 40;
  height: 300px;
  width: 300px;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  transition: all 1.2s;
  }
  .ilus2:hover {
  background-image:url('illustrations/t-ica.png');
  border-image-slice: 35;
  transform: scale(0.99);
  }
  .ilus3 {
  border: 30px solid;
  margin-top: 15px;
  background-image: url('illustrations/headset.png');
  border-image-source: url(illustrations/border3.svg);
  border-image-slice: 40;
  height: 300px;
  width: 300px;
  background-repeat: no-repeat;
  background-size:80%;
  background-position: center;
  transition: all 1.2s;
  }
  .ilus3:hover {
  background-image:url('illustrations/t-nintendo.png');
  border-image-slice: 35;
  transform: scale(0.99);
  }
  .ilus4 {
  border: 30px solid;
  margin-top: 15px;
  background-image: url('illustrations/smartwatch.png');
  border-image-source: url(illustrations/border4.svg);
  border-image-slice: 40;
  height: 300px;
  width: 300px;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  transition: all 1.2s;
  }
  .ilus4:hover {
  background-image:url('illustrations/t-coutts.png');
  border-image-slice: 35;
  transform: scale(0.99);
  }
  .ilus5 {
  border: 30px solid;
  margin-top: 15px;
  background-image: url('illustrations/billboard.png');
  border-image-source: url(illustrations/border5.svg);
  border-image-slice: 40;
  height: 300px;
  width: 300px;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  transition: all 1.2s;
  }
  .ilus5:hover {
  background-image:url('illustrations/t-chamba.png');
  border-image-slice: 35;
  transform: scale(0.99);

  }
  .ilus6 {
  border: 30px solid;
  margin-top: 15px;
  background-image: url('illustrations/beertag.png');
  border-image-source: url(illustrations/border6.svg);
  border-image-slice: 40;
  height: 300px;
  width: 300px;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  transition: all 1.2s;
  }
  .ilus6:hover {
  background-image:url('illustrations/t-bars.png');
  border-image-slice: 35;
  transform: scale(0.99);
  }

  .last-part{
  margin: 0 auto;
  height: 100vh;
  text-align: center;
  }
  .footer {
  text-align: center;
  margin-top: 15%;
  margin-bottom: 15px;
  }
  .question {
  margin: 0 auto;
  margin-top: 30%;
  width: 90%;
  }
  .icon {
  width: 8.4%;
  margin: 2% 2.8% 10% 2.8%;
  border-radius: 4px;
  }

  .hire-me {
  position: relative;
  margin: 0 auto;
  text-transform: uppercase;
  width: 240px;
  font-weight: bold;
  margin-bottom: 3%;
  }
  footer{
  margin: 30% 0% -5% 0%;
  }
  .made {
  margin-top: 10%;
  font-size: 0.8rem;
  font-weight: bolder;
  }
  #cta {
    fill: transparent;
    border: 21px solid;
    border-image-source: url(illustrations/buttoni.svg);
    border-image-slice: 20;
    font-size: 0.7rem;
    margin-top: 35%;
    font-family: 'Mansalva', cursive;
    stroke: #000;
    stroke-width: 4;
    transition: all 1s;
    background: #ff7979;
    background-clip: padding-box;
    transform: scale(0.8);
  }

  #cta:hover {
 border-image-slice: 14;
 transform:scale(1.1);
  }
}




/* The sidebar menu */
.sidebar {
  height: 100vh; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #000; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}



/* The sidebar links----------------------
--------------------------------------------------------
------------------------------------------------------------------
----------------------------------------------------------------- */
.sidebar a {
  padding: 25px 45px 8px 32px;
  text-decoration: none;
  font-size: 0.9rem;
  color: #fff;
  display: block;
  transition: 0.3s;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
}

.sidebar .contactdet {
padding-top: 152px;
    font-size: 0.9rem;
    font-weight: bolder;
}

.sidebar .contactex {
  font-size: 0.7rem;
  padding-top: 0px;
  cursor: text;
  color: white !important;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #000;
  color: white;
  padding: 10px 15px;
  border: none;
  left: 6%;
  z-index: 40;
  top: 2%;
  position: fixed;
  border-radius: 8px;
}

.openbtn:hover {
  background-color: #535c68;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#page1 {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}
/*Tool tip Css*/
